.user-input{
    display: block;
    margin: 20px auto;
    width: 100%;
    border: 1px solid ;
    border-radius: 10px;
    padding: 2px 5px;
  }
  
  .auth-form{
    width: 300px;
    border: 1px double #0084ff;
    padding: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #cce6ff;
  }
  
  .auth-heading{
    text-align: center;
    font-size: 30px;
    color: #207dd4;
  }
  
  
  .user-input:focus, .user-input:active{
    outline: none;
  }
  
  
  .btn-auth{
    background-color: #3ad92b;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
 
  }
  
  .btn-auth:hover{
    transition: 0.4s;
    background-color: green;
  }
  
  .auth-link{
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 19px;
  }